
    <%- include("sidenav"); -%>
    <%- include("topheader"); -%>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
          <div class="col-md-14">
            <div class="card ">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Orders  </h4>
              </div>
              <div class="card-body">
                <div class="table-responsive ps">
                  <table class="table table-hover tablesorter " id="">
                    <thead class=" text-primary">
                      <tr><th>Product Name</th><th>Product Description</th><th>Product Price</th><th>Customer Name</th><th>Address</th><th>Details</th><th>Time</th>
                    </tr></thead>
                    <tbody>
                      <%postContent.forEach((post, index) => {%>
                        
                        <tr>
                          <td><%=post.productname%></td><td><%=post.ordertitle%></td><td><%=post.orderprice%></td><td><%=post.customer%></td><td><br></td><td><br><br></td><td></td><td></td>
                          <td>
                            <form action="/deleteOrder" method="post">
                              <button type='submit' class='btn-danger' name="remove" value="<%=post._id%>">
                                Delete
                              </button>
                          </td>
                        </tr>
                        <%});%>
                    </tbody>
                  </table>
                  
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <%- include("footer"); -%>